@using Jira.Application.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Jira.MVC.Models.ProjectTaskModels.CreateProjectTaskDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<div class="row mt-5 border rounded px-2">
    <h5>Creating a Task</h5>
    <div class="col col-6 mx-auto">
        <form id="taskCreate" method="post" asp-anti-forgery="true" enctype="multipart/form-data">
            <div class="px-4 mt-4">
                <div class="mt-3">
                    <label for="title">
                        Title &nbsp; &nbsp;<span class="text-danger" ></span>
                    </label>
                    <input type="text" name="title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
                </div>
                <div class="mt-3">
                    <label for="description">
                        Description &nbsp; &nbsp;<span class="text-danger"></span>
                    </label>
                    <input type="text" asp-for="Description" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1">
                </div>
                <div class="mt-3">
                    <label asp-for="Priority">
                        Priority &nbsp; &nbsp;<span class="text-danger" asp-validation-for="@Model.Priority"></span>
                    </label>
                    <select asp-for="Priority" class="form-select">
                        <option disabled="disabled" selected="selected">Choose Priority</option>
                        @foreach (var priority in ViewBag.Priorities)
                        {
                            if (priority is Enum enumV)
                            {
                                <option value="@enumV">@enumV.GetDisplayName()</option>
                            }
                        }
                    </select>
                </div>
                <div class="mt-3">
                    <label asp-for="Type">
                        Type &nbsp; &nbsp;<span class="text-danger" asp-validation-for="@Model.Type"></span>
                    </label>
                    <select asp-for="Type" class="form-select">
                        <option disabled="disabled" selected="selected">Choose Type</option>
                        @foreach (var type in ViewBag.Types)
                        {
                            if (type is Enum enumV)
                            {
                                <option value="@enumV">@enumV.GetDisplayName()</option>
                            }
                        }
                    </select>
                </div>
                <div class="mt-3">
                    <label asp-for="ExecutorId">
                        Executor &nbsp; &nbsp;<span class="text-danger" asp-validation-for="@Model.ExecutorId"></span>
                    </label>
                    <select asp-for="ExecutorId" class="chosen-select2 form-select">
                        @foreach (var executor in ViewBag.Users)
                        {
                            <option value="@executor.Id">@executor.FullName</option>
                        }
                    </select>
                </div>
                <input asp-for="ProjectId" value="@Model.ProjectId" type="hidden"/>
                <div class="row row-cols-2 mt-3">
                    <div class="col-7 text-end">
                        <a href="javascript:history.back()" class="btn border border-0 btn-light text-dark my-3 ms-auto">Cancel</a>
                    </div>
                    <div class="col-5 text-end">
                        <button type="submit" class="btn border border-0 btn-primary text-white my-3" asp-controller="ProjectTask" asp-action="Create">Create Task</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

